@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="px-4 py-2 bg-blue-500 rounded text-white hover:bg-blue-300" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
