@inherits LayoutComponentBase


  <div class="h-screen flex flex-col lg:flex-row">
    <div class="lg:w-64 bg-gradient-to-b from-blue-800 to-blue-700 lg:block w-full">
        <NavMenu />
    </div>
    <div class="flex-1 ">
              <div class="py-4 bg-gray-200 text-right">
        <a class="mr-6" href="#">About</a>
      </div>
      <div class="py-4 px-4">
          @Body
      </div>
    </div>

  </div>
